.head{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    font-size: 90px;
}
#para{
    font-style: italic;
}

/* 
 double dotted wavy dashed solid
*/