.head{
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red; */
    text-align: center;
    font-size: 90px;
    /* text-shadow: 12px 13px 10px black; */
    color: red;
    letter-spacing: 19px;
    font-family: verdana;

}
.para{
    font-size: 18px;
    font-style: italic;
    word-spacing: 20px;
    line-height: 40px;
}